In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in c:\users\sakth\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\sakth\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\sakth\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\sakth\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\sakth\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\sakth\anaconda3\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\sakth\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\sakth\anaconda3\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\sakth\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\sakth\anaconda3\lib\site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: webencodings in c:\users\sakth\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\sakth\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sakth\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sakth\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\sakth\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [2]:
!kaggle  datasets list -s "retail-orders"

ref                                                             title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
gabrielsantello/wholesale-and-retail-orders-dataset             Wholesale & Retail Orders Dataset                     3MB  2023-09-19 09:31:40           2766         43  1.0
ankitbansal06/retail-orders                                     Retail Orders                                       200KB  2024-04-13 08:31:36          11007         27  0.47058824
zusmani/pakistans-largest-ecommerce-dataset                     Pakistan's Largest E-Commerce Dataset                14MB  2021-01-19 11:42:57          12752        348  0.9705882
heeraldedhia/groceries-dataset                                  Groceries dataset                                   257KB  2020-09-17 04:36:08          66941        637  1.0
aditirai2607/super-market-dataset                               Super Market dataset                                  2MB  2024-11-26 14:04:03           1638         32  1.0
umerkk12/online-retail-business                                 Online Retail Business                                7MB  2021-01-20 03:42:36           2501         44  0.64705884
shandeep777/retail-supply-chain-sales-dataset                   Retail Supply Chain Sales Dataset                     1MB  2024-12-08 06:51:23            912         22  0.64705884
sureshmecad/supplement-sales-prediction                         Supplement Sales Prediction                           2MB  2021-09-17 08:09:33           2257         38  0.9411765
toxifarian/tesco-retail-store-clubcard-orders                   Tesco Retail Store Clubcard Orders                  172KB  2022-05-18 20:29:26            531          8  0.3529412
saadharoon27/superstore-dataset                                 SuperStore Dataset                                    1MB  2023-10-08 14:51:16           1996         26  0.7647059
census/business-and-industry-reports                            Business and Industry Reports                         7MB  2017-10-17 23:21:56           6789        133  0.8235294
mohamedharris/supermart-grocery-sales-retail-analytics-dataset  Supermart Grocery Sales - Retail Analytics Dataset  191KB  2022-06-12 16:14:44          17306        218  0.88235295
shelvigarg/sales-forecasting-womart-store                       Sales Forecasting WOMart Store                        2MB  2021-09-20 08:16:56           2287         26  0.8235294
datatattle/dt-mart-market-mix-modeling                          DT MART: Market Mix Modeling                         22MB  2020-09-06 16:24:07           1826         40  0.88235295
endofnight17j03/global-superstore                               Global Superstore                                     8MB  2024-02-07 04:08:06           1110         50  0.8235294
prajwal6362venom/diwali-sales                                   Diwali Sales                                        213KB  2023-04-20 08:06:13           1725         15  0.5882353
amandam1/walmart-stock-20122016                                 Walmart Daily Stock Prices 1972-2022                223KB  2022-06-25 15:57:45           1448         34  1.0
zusmani/gufhtugu-publications-dataset-challenge                 Gufhtugu Publications Dataset Challenge             954KB  2021-01-29 14:11:37           2668        413  1.0
thedevastator/online-retail-transaction-records                 Online Retail Transaction Records                     9MB  2023-12-21 02:44:20           1811         31  1.0
thedevastator/online-retail-sales-and-customer-data             Online Retail Sales and Customer Data                 9MB  2023-12-21 02:51:42           3381         38  1.0

In [3]:
!kaggle datasets download -d "ankitbansal06/retail-orders"

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
retail-orders.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
import zipfile

In [5]:
with zipfile.ZipFile("retail-orders.zip","r") as file:
    file.extractall("sakth")

In [6]:
import os
os.listdir("sakth")

['orders.csv']

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv("sakth/orders.csv")

In [9]:
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [76]:
df.head()

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_ID,cost_price,List_Price,Quantity,Discount_Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_Id          9994 non-null   int64
 1   Order_Date        9994 non-null   datetime64[ns]
 2   Ship_Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal_Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub_Category      9994 non-null   object
 11  Product_ID        9994 non-null   object
 12  cost_price        9994 non-null   int64
 13  List_Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount_Percent  9994 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(9)
memory usage: 1.2+ MB

In [80]:
df.columns

Index(['Order_Id', 'Order_Date', 'Ship_Mode', 'Segment', 'Country', 'City',
       'State', 'Postal_Code', 'Region', 'Category', 'Sub_Category',
       'Product_ID', 'cost_price', 'List_Price', 'Quantity',
       'Discount_Percent'],
      dtype='object')

In [82]:
df.shape

(9994, 16)

In [84]:
df.isnull().sum()

Order_Id            0
Order_Date          0
Ship_Mode           1
Segment             0
Country             0
City                0
State               0
Postal_Code         0
Region              0
Category            0
Sub_Category        0
Product_ID          0
cost_price          0
List_Price          0
Quantity            0
Discount_Percent    0
dtype: int64

In [86]:
df.fillna({'Ship Mode':0},inplace=True)

In [88]:
df.isnull().sum()

Order_Id            0
Order_Date          0
Ship_Mode           1
Segment             0
Country             0
City                0
State               0
Postal_Code         0
Region              0
Category            0
Sub_Category        0
Product_ID          0
cost_price          0
List_Price          0
Quantity            0
Discount_Percent    0
dtype: int64

In [94]:
df['Order_Date']=pd.to_datetime(df['Order_Date'])

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_Id          9994 non-null   int64
 1   Order_Date        9994 non-null   datetime64[ns]
 2   Ship_Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal_Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub_Category      9994 non-null   object
 11  Product_ID        9994 non-null   object
 12  cost_price        9994 non-null   int64
 13  List_Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount_Percent  9994 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(9)
memory usage: 1.2+ MB

In [98]:
df.rename(columns={'Order Id':'Order_Id','Order Date':'Order_Date','Ship Mode':'Ship_Mode','Postal Code':'Postal_Code','Sub Category':"Sub_Category",'Product Id':"Product_ID","cost price":"cost_price","List Price":"List_Price",'Discount Percent':'Discount_Percent'},inplace=True)

In [100]:
df['Ship_Mode']=df['Ship_Mode'].str.rstrip()

In [102]:
df['Segment']=df['Segment'].str.rstrip()

In [104]:
df['Country']=df['Country'].str.rstrip()

In [106]:
df['City']=df['City'].str.rstrip()

In [108]:
df['State']=df['State'].str.rstrip()

In [110]:
df['Region']=df['Region'].str.rstrip()

In [112]:
df['Category']=df['Category'].str.rstrip()

In [114]:
df['Sub_Category']=df['Sub_Category'].str.rstrip()

In [116]:
df

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_ID,cost_price,List_Price,Quantity,Discount_Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [118]:
df['Discount']=df['List_Price']-df['cost_price']//df['List_Price']*100

In [120]:
df['Discount']

0       260.0
1       730.0
2       -90.0
3       960.0
4       -80.0
        ...
9989    -70.0
9990     90.0
9991    260.0
9992    -70.0
9993    240.0
Name: Discount, Length: 9994, dtype: float64

In [122]:
df

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_ID,cost_price,List_Price,Quantity,Discount_Percent,Discount
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,260.0
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,730.0
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,-90.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,960.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,-80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,-70.0
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,90.0
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,260.0
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,-70.0
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,240.0

In [124]:
df['Profit']=df['List_Price']-df['cost_price']

In [126]:
df

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_ID,cost_price,List_Price,Quantity,Discount_Percent,Discount,Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,260.0,20
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,730.0,130
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,-90.0,0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,960.0,180
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,-80.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,-70.0,0
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,90.0,20
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,260.0,40
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,-70.0,0
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,240.0,30

In [128]:
df['Sales']=df['List_Price']*df['Quantity']

In [130]:
df

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_ID,cost_price,List_Price,Quantity,Discount_Percent,Discount,Profit,Sales
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,260.0,20,520
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,730.0,130,2190
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,-90.0,0,20
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,960.0,180,4800
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,-80.0,0,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,-70.0,0,90
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,90.0,20,180
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,260.0,40,520
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,-70.0,0,120
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,240.0,30,480

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_Id          9994 non-null   int64
 1   Order_Date        9994 non-null   datetime64[ns]
 2   Ship_Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal_Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub_Category      9994 non-null   object
 11  Product_ID        9994 non-null   object
 12  cost_price        9994 non-null   int64
 13  List_Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount_Percent  9994 non-null   int64
 16  Discount          9487 non-null   float64
 17  Profit            9994 non-null   int64
 18  Sales             9994 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(8), object(9)
memory usage: 1.4+ MB

In [134]:
df_order=df.iloc[:,:9]

In [178]:
df_order['Order_Date']=df_order['Order_Date'].astype('object')
df_order["Order_Date"]=pd.to_datetime(df_order['Order_Date'])

In [180]:
df_order

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West

In [182]:
df_orders=df.iloc[:,9:]

In [184]:
df_orders

,Category,Sub_Category,Product_ID,cost_price,List_Price,Quantity,Discount_Percent,Discount,Profit,Sales
0,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,260.0,20,520
1,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,730.0,130,2190
2,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,-90.0,0,20
3,Furniture,Tables,FUR-TA-10000577,780,960,5,2,960.0,180,4800
4,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,-80.0,0,40
...,...,...,...,...,...,...,...,...,...,...
9989,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,-70.0,0,90
9990,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,90.0,20,180
9991,Technology,Phones,TEC-PH-10003645,220,260,2,2,260.0,40,520
9992,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,-70.0,0,120
9993,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,240.0,30,480

In [186]:

df_orders.to_csv(r"C:\Users\sakth\Documents\Desktop\df_orders.csv")

In [188]:
df_order.to_csv(r"C:\Users\sakth\Documents\Desktop\df_order.csv")

In [191]:
df1=pd.read_csv(r"C:\Users\sakth\Documents\Desktop\df_order.csv")

In [193]:
df1

,Unnamed: 0,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region
0,0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
1,1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
2,2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West
3,3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
4,4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
...,...,...,...,...,...,...,...,...,...,...
9989,9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South
9990,9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9991,9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9992,9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9993,9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West

In [195]:
df["City"]

0             Henderson
1             Henderson
2           Los Angeles
3       Fort Lauderdale
4       Fort Lauderdale
             ...
9989              Miami
9990         Costa Mesa
9991         Costa Mesa
9992         Costa Mesa
9993        Westminster
Name: City, Length: 9994, dtype: object

In [197]:
df2=pd.read_csv(r"C:\Users\sakth\Documents\Desktop\df_orders.csv")

In [199]:
df2

,Unnamed: 0,Category,Sub_Category,Product_ID,cost_price,List_Price,Quantity,Discount_Percent,Discount,Profit,Sales
0,0,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,260.0,20,520
1,1,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,730.0,130,2190
2,2,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,-90.0,0,20
3,3,Furniture,Tables,FUR-TA-10000577,780,960,5,2,960.0,180,4800
4,4,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,-80.0,0,40
...,...,...,...,...,...,...,...,...,...,...,...
9989,9989,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,-70.0,0,90
9990,9990,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,90.0,20,180
9991,9991,Technology,Phones,TEC-PH-10003645,220,260,2,2,260.0,40,520
9992,9992,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,-70.0,0,120
9993,9993,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,240.0,30,480